/* set the height for body and html */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
/* set the map width and height*/
#map {
	width: 900px;
	height: 1000px;
}
/* set the width of the search box */
.search-box {
	width: 300px;
}

.info-window {
	height: 100% !important;
	max-width: 400px;
    line-height: normal;
	white-space: nowrap;
	overflow: auto;
}